.every-project{
    height:80vh;
    width: 80vw;
    display: flex;
}

.every-project-left-cont{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;

}


.project-logo{
    height:30px;
    width: 100px;
    margin:10px;
}



.every-project-text-cont-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.every-project-heading{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0px;

}

.every-project-desc{
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px; 
    line-height: 1.2;
    color: gray;
}

.every-project-right-cont{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}