
.initial-container{

  background-color:#0A192F;
}


.header-container{

  display: flex;
  justify-content: center;

  position:fixed;
  top:0px;
  left:0px;
  right:0px;  
  background-color: #0A192F;
  z-index: 1000;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;


}

#skills{
  background-color: #1C2838;

}


.portfolio-heading{
  color:#E6F1FF;
  font-size: 26px;
  font-family: cursive;
  font-weight: bold;
}

ul{
  display: flex;
  align-items: center;
  padding: 0px;
}

li{
  list-style: none;
  margin-right: 20px;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #a7aebc;
  font-weight: 500;
  outline: none;
}

a:hover {
  color: #1477f7;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-containers{
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;

}

.home-content{
  color:#E6F1FF;
  width: 70%;
}

.name-head-1{
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

.name-head-2{
  font-size: 40px;

  font-family: cursive;
  margin: 0px;
  font-weight: bold;
}

#about{
  background-color: #F5F5DC;
  height:90vh
}

.profile-image{
  width: 25%;
  border-radius: 160px;
}

.menu-icon{
  display: none;
}

.icons{
  color:#1477f7;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #1477f7;
  border-radius: 20px;
  padding: 4px;
}



.icons:hover{
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #1477f7;
  background-color: #1477f7;
  color: #a7aebc;
}





.web-developer-span{
  color:#1477f7;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
}

.resume-button{
  background-color: #1477f7;
  border: none;
  color: #E6F1FF;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}

.resume-button:hover{
  box-shadow: 0px 0px 10px 0px #1477f7;
}


section{
  height:100vh;

}

.special-about-me-content{
  color:#1477f7;
}

#about p{
  font-size: 16px;
  font-weight: 500;
  font-family: "Lucida Console", "Courier New", monospace;
}

.nav-active{
  display: block;
  position:absolute;
  right:40px;
  top:10vh;
  background-color: #a7aebc;
}

.menu-links{
  display: flex;
  flex-direction: column;
  display: none;  
}

.menu-links a{
  color:#0A192F;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;


}

.nav-inactive{
  display: none;
}

.menu-links{
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 991px) {
  .nav-main{
    display: none;
  }
  .menu-links{
    display: block;
  }
  .menu-icon{
    display: block;
    color:#a7aebc;
    font-size: 30px;
    cursor: pointer;
  }
}

[data-aos="fade-up"] {
  transform: translateY(30px); /* Moves only 2cm */
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[data-aos="fade-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}


html{
  scroll-behavior: smooth;
  scrollbar-width:none;
}