

.initial-container{

  background-color:#0A192F;
}


.header-container{

  display: flex;
  justify-content: center;

  position:fixed;
  top:0px;
  left:0px;
  right:0px;  
  background-color: #0A192F;
  z-index: 2;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;


}



.portfolio-heading{
  font-size: 26px;
  font-family: cursive;
  font-weight: bold;
  background-image: linear-gradient(to right, #ffb788,#f71aec,#5980ff);
  background-clip: text;
  color:transparent
}

.portfolio-heading span{
  background-image: linear-gradient(to right, #ffb788,#f71aec,#5980ff);
  color:#E6F1FF;
  background-clip: border-box;
  padding:3px;
  border-radius: 4px;
  margin-right: 2px;
  /* font-family: 'Poppins', sans-serif; */
}




ul{
  display: flex;
  align-items: center;
  padding: 0px;
}

li{
  list-style: none;
  margin-right: 20px;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #a7aebc;
  font-weight: 500;
  outline: none;
  margin-right: 10px;
  transition: all 0.2s ease-in-out ;
}

a:hover {
  color: #1477f7;

}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.main-containers{
  display: flex;
  align-items: center;
  width: 85%;
  min-height: max(90vh, 600px);

  justify-content: space-between;

}

/* #home{
  height:100vh;
} */

.home-content{
  color:#E6F1FF;
  width: 70%;
}

.name-head-1{
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

.name-head-2{
  font-size: 40px;

  font-family: cursive;
  margin: 0px;
  font-weight: bold;
}

.menu-icon{
  display: none;
}

.icons{
  color:#1477f7;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #1477f7;
  border-radius: 20px;
  padding: 4px;
}



.icons:hover{
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #1477f7;
  background-color: #1477f7;
  color: #a7aebc;
}




.web-developer-span{
  color:#1477f7;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 10px;

}

.resume-button{
  background-color: #1477f7;
  border: none;
  color: #E6F1FF;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}

.resume-button:hover{
  box-shadow: 0px 0px 10px 0px #1477f7;
}



.special-about-me-content{
  color:#1477f7;
}

#about p{
  font-size: 16px;
  font-weight: 500;
  
}

.nav-active{
  display: block;
  position:fixed;
  top:60px;
  right:0;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}


.menu-links{
  display: flex;
  flex-direction: column;
  margin: 0px ;
  background-color: #0A192F;
  padding: 10px 0px;
}

.menu-links li{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  margin: 0px 0px 10px 6%;

}

.menu-links a{
  color: rgb(218, 218, 218);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}



.nav-inactive{
  display: none;
}

.menu-links{
  display: flex;
  flex-direction: column;

}

#about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #112240;
  min-height: max(90vh, 600px);
  scroll-margin-top: 70px;

}



.about-image{
  width: 30%;
  border-radius: 20px;
}

.about-content{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.about-head{
  color:#E6F1FF;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.about-me-text{
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px; 
  line-height: 1.6;
  color: #E6F1FF;

}

.about-me-text::first-letter{
  font-size: 30px;

  font-weight: 600;
}

#about mark{
  color:#1477f7;
  font-family:cursive;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

.read-more{
  color:#E6F1FF;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.about-key-skills-heading{
  color:#E6F1FF;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.about-key-skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-right: 20px;

  padding: 0px;

}

.about-key-skills li{
  list-style: none;
  margin: 0px;
  padding: 0px;

  background-color: #A8B2D1;
  color:#112240;
  width:100%;
  padding:4px 8px;
  
}

.about-key-skills li:nth-child(odd){
  background-color: #4C7FBF;
  color: #FFFFFF;
}

.about-key-skills p{
  font-size: 16px;
  font-weight: 500;

  margin: 2px;
}

.desc-bottom{
  color:aliceblue;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-key-skills li {
  transition: all 0.3s ease-in-out;
  width: 90%;
}



.about-key-skills li:nth-child(odd):hover {
  background-color: #4C7FBF;
  color: #FFFFFF;
  transform: scale(1.05); 

  margin: 0px ;

}

.about-key-skills li:nth-child(even):hover {
  background-color: #A8B2D1;
  color:#112240;
  transform: scale(1.05); 

}

.read-more {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  background: none;
  border: none;
  color: #E6F1FF;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: #1477f7;
}

.read-more div{
  display: flex;
  align-items: center;
}

.read-more div p{
  margin-left: 5px;
}

.expandable-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.expandable-content.open {
  max-height: 600px; 
  opacity: 1;
}

#skills{
  min-height:90vh;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;

  scroll-margin-top: 70px;

}

.show-more-button{
  display: flex;
  justify-content: center ;

}

.skills-head{
  color:#a7aebc;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 30px ;

}

#projects{
  background-color: #0A192F;
  width: 100vw;
  height: max(90vh, 600px);
}

.projects-container{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.projects-list{
  width: 80%;

}

.skills-list{
 display: flex;
 flex-wrap: wrap;
 width: 100vw;
 justify-content: center;

}


.skills-list p{
  color:#E6F1FF;
  font-size: 16px;
  font-weight: 500;


}

.load-more-button{
  color: #E6F1FF;
  border: none;
  background-color: #1477f7;
  border-radius: 10px;
  padding:8px 16px;
  box-shadow: 0px 0px 10px 0px #1477f7;
  margin-top: -20px;
  margin-bottom: 40px;
  align-self: center;
  cursor: pointer;
  outline: none;
  transition:box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.load-more-button:hover{
  box-shadow: none;
  background-color: #E6F1FF;
  color: #1477f7;
}


#services
{
  min-height: 90vh;
  background-color: #112240;
  font-family:Arial, Helvetica, sans-serif;
  scroll-margin-top: 70px;

}

.services-main-head{
  color:white;
  font-size: 24px;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

.mermaid {
  text-align: center;
  margin: 20px 0;
}

.serives-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;


}

.every-service{
  display: flex;
  background-color: #1B262C;
  width: 80%;
  margin: 10px;  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #1B262C;
}

.every-service:hover{
  max-width: 80% ;
  transform: scale(1.02);
}


.every-service:nth-child(even) .every-service-content{
  order: 1;
}

.every-service:nth-child(even) img{
  order: 5;
}


.every-service img{
  width:35%;
  height: 230px;
  background-size: cover;

}

.every-service-content{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.every-service-content-head{
  color:#60A5FA;
  font-weight: 500;
  font-size: 20px;
  margin: 0px;
  font-family: cursive;
}

.every-service-content-desc{
  color:#bec5d5;
  font-size: 12px;
  font-size: 500;
}

.services-button{
  background-color: blanchedalmond;
  color: black;
  font-size: 10px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding:6px 12px;
  align-self: flex-start;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}


.services-button:hover{
  border: none;
  background-color: lightblue;
  color: #112240;
}

.show-more-in-services{
  margin-top: 30px;
}


#projects{
  min-height: 90vh;
  background-color: #0A192F;
  font-family: 'Poppins', sans-serif;
  scroll-margin-top: 70px;

}

.arrow-one-project{
  color:white;

  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background-color: #1477f7;
}

.arrow-one-project:hover{
  box-shadow: 0px 0px 10px 0px #1477f7;
}



.profile-image{
  width: 100%;
  border-radius: 160px;
  position: relative;
  z-index: 1;
  margin: 0px;
}


.profile-image-container{
  width: 25%;

  text-align: center;
  position: relative;
}

.profile-image-container div{
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;


}

.profile-image-container div::after, .profile-image-container div::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top:50%;
  left:50%; 
  translate: -50% -50%;
  background-image: conic-gradient(#6f00ff, #00ffd5, #ff6f61, #6f00ff);
  z-index: 0;
  padding:3px;
  border-radius: 160px;
  animation:3s spin linear infinite;
}

.profile-image-container div::before{
  filter: blur(8px);
  opacity: 0.7;

}

.active{
  color:#1477f7;
  background-image:linear-gradient(to right,#0346ff,#296dff,#386ee3,#0044ff);
  background-clip: text;
  color: transparent;

}

/* @keyframes bounce{
   0%,50%,20%,70%,90%,100%{
    transform: translateY(0);
   }
   40%{
      transform: translateY(-20px);
   }

    60%{
      transform: translateY(-10px);
    }

    80%{
      transform: translateY(-5px);
    }

}*/

.bounce{
  /* animation: bounce 1.5s linear infinite;
  animation-delay: 5s; */
  margin-left: 20px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}


.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.name-head-cont-3{
  display: flex;
  align-items: center;

}


.low-one{
  background-color: #5091e0;
  color:#a2aaba;
}


.low-one:hover{
  box-shadow: none;
}

#contact{
  background-color: #112240;
  width: 100%;
  min-height:80vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.mute{
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50%, 30%, 70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink{
  animation: blink 1.05s infinite;
}

.copy-right-container{
  height: 10vh;
  margin: 0px;
width: 80%;
color:#a2aaba;
font-size: 14px;
font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-right-para{
  display: flex;
  align-items: center;
}

.website-icons{
  margin: 0px;
}

.profile-description{
  animation: 3s infinite alternate slide-in;

}

.copy-right-sys{
  margin: 0px 5px;
}

.copy-right-up-arrow{
  background-color: #1477f7;
  padding:10px;
  border-radius: 4px;
  color:white;
  cursor: pointer;
}

.contant-me-head{
  color:#E6F1FF;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 30px ;  
  margin-bottom: 30px;
}

.contant-me-head::first-letter{
  font-size: 30px;
  font-weight: 600;

}

.contant-me-head span{
  color:#1477f7;
  font-family: cursive;
  font-size: 26px;
  font-weight: bold;
}

.contact-me-container{
  display: flex;
  align-items: center;

  width: 50%;
}

.input-field{
  padding:14px;
  border-radius: 4px;
  width: 50%;
  margin: 5px;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #202e47;
  color:#ebf1ff;
}

.contact-me-text-cont{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  position: relative;
}

.text-area-contact-me{
  width: 94%;    font-size: 13px;
  font-weight: 500;
  outline: none;  margin: 5px;
  border: none;
  background-color: #202e47;
  padding:14px;
  color:#ebf1ff;
  margin-top: 10px;
  border-radius: 4px;


}
.count-value{
  color:#afb4c0;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.send-message-button-contact{
  background-color: #1477f7;
  color:white;
  padding:8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.send-message-button-contact:hover{
  background-color:#398dfb;
}




@media screen and (max-width: 991px) {
  .nav-main{
    display: none;
  }
  .menu-links{
    display: block;
  }


  .menu-icon{
    display: block;
    color:#a7aebc;
    font-size: 30px;
    cursor: pointer;
  }
}
@media screen and (min-width: 992px){
  .nav-active{
    display: none;
  }
}

[data-aos="fade-up"] {
  transform: translateY(30px); /* Moves only 2cm */
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[data-aos="fade-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}


html{
  scroll-behavior: smooth;
  scrollbar-width:none;
}

@media screen and (max-width: 768px) {
  .main-containers{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: auto;
  }
  .profile-image-container{
    order:1;
    width: 80%;
    margin: 100px;
    margin-bottom: 20px;
  }
  .home-content{
    order:3;
    width: 100%;
  }.name-head-2{
    font-size: 25px;
    margin-top: 0px;
  }.name-head-1{
    font-size: 16px;

  }
  .one-x{
    margin: 0px;
  }
  .home-content{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
  }
  .profile-description{
    margin: 0px;
  }
  .resume-button{
   align-self: center;
  }
  .home-icons-cont{
    justify-content: center;

  }
}